name: Backend CI

on:
  push:
    branches: [ master ]
    paths: 
      - 'backend/**'
      - 'api/schema/**'
      - '.github/actions/**'
      - '.github/workflows/ccpp.yml'
  pull_request:
    branches: [ master ]
    paths: 
      - 'backend/**'
      - 'api/schema/**'
      - '.github/actions/**'
      - '.github/workflows/ccpp.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: setup python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: cache conan data
      uses: actions/cache@v2
      with:
        path: ~/.conan/data
        key: ${{ runner.os }}-${{ hashFiles('**/conan.lock') }}

    - name: cache pip data
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}

    - name: setup conan
      uses: ./.github/actions/setup-conan

    - name: install cmake
      uses: lukka/get-cmake@latest

    - name: install lcov
      run: |
        sudo apt-get install lcov

    - name: configure
      run: |
        mkdir backend/build
        cd backend/build
        cmake .. -DBUILD_TESTS=ON -DCOVERAGE=ON -DCMAKE_BUILD_TYPE=Debug

    - name: build
      run: |
        cd backend/build
        make user_tests

    - name: coverage
      run: |
        cd backend/build
        make coverage

    - name: Coveralls GitHub Action
      uses: coverallsapp/github-action@v1.1.2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: backend/build/coverage.info
