name: Documentation CI/CD

on:
  push:
    branches: [ master ]
    paths: 
      - 'api/**'
      - '.github/workflows/documentation.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Render OpenAPI
      run: |
        npx redoc-cli bundle api/openapi.yaml
        mkdir public 
        cp redoc-static.html public/index.html
   
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3.8.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
        force_orphan: true
