name: Frontend CI

on:
  push:
    branches: [ master, docker-deploy ]
    paths: 
      - 'web-app/**'
      - '.github/workflows/node.js.yml'
  pull_request:
    branches: [ master ]
    paths: 
      - 'web-app/**'
      - '.github/workflows/node.js.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x]

    steps:
    - uses: actions/checkout@v2
      
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Cache Node Modules
      uses: actions/cache@v2
      with:
        path: '**/node_modules'
        key: ${{ runner.os }}-${{ matrix.node-version }}-${{ hashFiles('**/yarn.lock') }}

    - name: Production Build
      run: |
        cd web-app/
        yarn install
        yarn build

  test:
    needs: [build]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x

    - name: Cache Node Modules
      uses: actions/cache@v2
      with:
        path: '**/node_modules'
        key: ${{ runner.os }}-${{ matrix.node-version }}-${{ hashFiles('**/yarn.lock') }}
    
    - name: Run Tests
      run: |
        cd web-app/
        yarn install
        yarn test

  coverage: 
    needs: [build]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Use Node.js 14.x
      uses: actions/setup-node@v1
      with:
        node-version: 14.x

    - name: Cache Node Modules
      uses: actions/cache@v2
      with:
        path: '**/node_modules'
        key: ${{ runner.os }}-${{ matrix.node-version }}-${{ hashFiles('**/yarn.lock') }}

    - name: Coverage
      run: |
        cd web-app/
        yarn install
        yarn coverage

    - name: CodeCov GitHub Action
      uses: codecov/codecov-action@v1
      with:
        file: web-app/coverage/lcov.info
        name: react-frontend-unit-test-${{ matrix.node-version }}
        fail_ci_if_error: true
